@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}
.intro{
  border-radius: 1% 1% 30% 20%;
}
.a{
 border-radius: 0 20% 0 20%;
  padding: 40px;

}
.linkk{
  color: darkred;
}


  @media screen and (max-width: 480px) {
   .bord{
    border-radius:0px;

    }
    .head{
      font-size: 15px;
  
    }
 
    }
   
  
